:root {
    --color-primario: #1428a0;
    --color-secundario: #ffffff;
    --color-texto: #000000;
}

/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Barra superior */
.top-bar {
    background: #2b7cd3;
    color: white;
    text-align: center;
    padding: 8px;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    
}


/* TEXTO */
.hero-text h2 {
    font-size: 40px;
}

/* BOTÓN */
button {
    background: black;
    color: white;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
}

/* Animación hover btn */
button:hover {
    background: var(--color-primario);
}

/* IMAGEN */
.hero-img img {
    width: 100%;
}

/* CARD DERECHA */
.hero-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

/* CASCADA */
/* Este estilo tiene más prioridad que body */
.hero-card h2 {
    color: var(--color-primario);
}

.beneficios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background-color: #ffffff;
    text-align: center;
    border-top: 1px solid #ddd;
}

.beneficio img {
    width: 50px;
    margin-bottom: 10px;
}

.beneficio p {
    font-size: 16px;
}


.beneficio:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

